build/
brushes/
helmet_scripts/
legend_armor_scripts/
unpacked/legend_armor/0
unpacked/legend_armor/1
unpacked/legend_armor/2

!unpacked/**/helmets

scripts/items/legend_armor/cloth/
scripts/items/legend_armor/chain/
scripts/items/legend_armor/plate/
scripts/items/legend_armor/cloak/
scripts/items/legend_armor/tabard/
scripts/crafting/blueprints/paint_black_blueprint.nut
scripts/crafting/blueprints/paint_orange_red_blueprint.nut
scripts/crafting/blueprints/paint_red_blueprint.nut
scripts/crafting/blueprints/paint_set_blueprint.nut
scripts/crafting/blueprints/paint_white_blue_blueprint.nut
scripts/crafting/blueprints/paint_white_green_yellow_blueprint.nut

gfx/*.png
!gfx/skills*
!gfx/ui/**
*.cnut
*.DS_Store
temp.nut
log.txt
NUL

unpacked/legend_enemies/metadata.xml
unpacked/legend_armor/metadata.xml
unpacked/legend_armor/[0-9]/
unpacked/legend_armor/[0-9][0-9]/
unpacked/legend_helmets/metadata.xml
unpacked/legend_helmets/[0-9]/
unpacked/legend_helmets/[0-9][0-9]/

!unpacked/dead_arrows.png
!unpacked/dead_javelin.png
!**/bust_naked_body_00_dead*
unpacked/legend_helmets/entity/legend_helmets/cropped/

unpacked/legend_helmets/4/metadata.xml

.vscode
.vscode/

build_compile_*.sh
unstaged_build_*.sh
build_legends_mod_*.py
__pycache__

*.sublime-workspace
*.sublime-project
*.idea/
*.iml

.bbbuilder/
brushes/
*.zip
.editorconfig
.utils/

yay.txt
